$color-orange: #FFA500;
$color-text-white: #ffffff;

body {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  margin: 0 auto;
  max-width: 1000px;
}

button {
  background: $color-orange;
  border: 1px solid darkred;
  box-shadow: 1px 1px 3px #333;
  margin-right: 10px;
  width: 100px;
  color: $color-text-white;
}

table {
  width: 100%;
}
table td {
  padding: 5px;
}

img {
  border: none;
  max-width: 100%;
  width: 100%;
}

/* Header */
#header {
  background: $color-orange;
  display: flex;
  padding: 30px 20px;
}

#header .logo h1 {
  margin: 3px 0;
}

#header .logo .subtitle {
  font-size: 1.6rem;
  font-style: italic;
}

#header .actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
#header .actions button {
  cursor: pointer;
  background-color: #FF5200;
}

#content {
  display: flex;
  margin-top: 20px;
}
/* Left Section */

.left-section {
  flex: 1;
  margin-right: 20px;
}
.left-section .header {
  display: flex;
  height: 30px;
}

.left-section .header button {
  height: 25px;
}
.left-section .header > .actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 12px;
}

table th {
  background: #ccc;
  padding: 5px;
  cursor: pointer;
}
.totals td {
  border-top: 3px solid #ccc;
}

.legend {
  height: 16px;
  width: 30px;
}

/* Right Section */
.right-section {
  background: #ccc;
  width: 300px;
}
.right-section .chart {
  height: 300px;
}

.right-section .help-label {
  padding: 10px;
}

#content {

}
